
@font-face {
  font-family: 'Codec Cold';
  src: url('Codec-Cold-Thin.woff2') format('woff2'),
       url('Codec-Cold-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Codec Cold';
  src: url('Codec-Cold-Extralight.woff2') format('woff2'),
       url('Codec-Cold-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Codec Cold';
  src: url('Codec-Cold-Light.woff2') format('woff2'),
       url('Codec-Cold-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Codec Cold';
  src: url('Codec-Cold-Light-Italic.woff2') format('woff2'),
       url('Codec-Cold-Light-Italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Codec Cold';
  src: url('Codec-Cold-Regular.woff2') format('woff2'),
       url('Codec-Cold-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Codec Cold';
  src: url('Codec-Cold-Regular-Italic.woff2') format('woff2'),
       url('Codec-Cold-Regular-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Codec Cold';
  src: url('Codec-Cold-Bold.woff2') format('woff2'),
       url('Codec-Cold-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Codec Cold';
  src: url('Codec-Cold-Bold-Italic.woff2') format('woff2'),
       url('Codec-Cold-Bold-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Codec Cold';
  src: url('Codec-Cold-ExtraBold.woff2') format('woff2'),
       url('Codec-Cold-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Codec Cold';
  src: url('Codec-Cold-Heavy.woff2') format('woff2'),
       url('Codec-Cold-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
