/***************** ESTILOS GENERALES *********************/
*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    font-size: 10px;
  font-weight: 400;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

.container{
    width: 65%;
}

h1, h2, h3, h4, h5{
    font-family: "Switzer-Variable";
    line-height: 1.3;
}

p{
    font-family: "Quicksand", sans-serif;
    color: #1E4469;
}

li{
    font-family: "Quicksand", sans-serif; 
}

.pre-titulo{
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    letter-spacing: 0;
}

.pre-titulo span{
    background: #00B2D4;
    padding: 0 5px;
    margin-bottom: 5px;
}

.img-mobile{
     display: none;
}

.cta{
  transition: all 0.2s ease;
    
}

.cta-celeste:hover {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.36);
    box-shadow: 0 0 12px rgba(35, 181, 211, 0.36);
}

.cta-azul:hover {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.46);
    box-shadow: 0 0 12px rgba(35, 181, 211, 0.46);
    
}

.cta-blanco:hover {
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.46);
    box-shadow: 0 0 12px rgba(35, 181, 211, 0.46);

}

.texto-mobile{
    display: none;
}


.icono-mobile{
    display: none;
}

.texto-mobile-span{
    display: none;
}
/***************** HEADER *********************/
header{
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    background: transparent;
    z-index: 1000;
    transition: background-color 0.3s ease; /* Smooth transition for background */
}

/* Class added when scrolled */
header.scrolled {
    background-color: white; /* Changes header background to white on scroll */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    transition: padding 0.3s ease; /* Smooth transition for padding */
}

/* Class added when scrolled */
header.scrolled nav {
    padding: 20px 0; /* Reduces padding on scroll */
}

header nav img{
    max-width: 200px;
    transition: max-width 0.3s ease; /* Smooth transition for logo size */
}

header.scrolled nav img {
    max-width: 135px; /* New size for logo on scroll */
}

header nav ul{
    display: flex;
    flex-direction: row;
    gap:25px;
}

header nav ul li a{
    color: #a8adaf;
    text-decoration: none;
/*    text-transform: uppercase;*/
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Switzer-Variable";
        transition: all 0.2s ease; 

}

header nav ul li a:hover{
    color: #d1faff;
/*    text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);*/
    transition: all 0.2s ease; 
}

/* Hover alternativo cuando el usuario scrollea */
header.scrolled nav ul li a:hover {
    color: #0097B2; /* o el nuevo celeste de Sorby */
}

nav ul li a.active {
  color: #0097B2;
}
/* --- Estilos para el Botón de Menú (Hamburguesa) --- */
.menu-toggle {
    display: none; /* Oculto por defecto en desktop */
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
    z-index: 1001;
    background: #79d1e469;
    border-radius: 6px;
}

.menu-toggle .bar {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;
}

/* Animación para el icono de la hamburguesa cuando está abierto */
.menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
    opacity: 0; /* Oculta la barra del medio */
}

.menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}

/*************** YA CONFIAN LOGOS ***********/
.ya-confian img{
    max-width: 62px;
    text-align: center;
    opacity: 0.9;
}

.ya-confian{
    max-width: 480px;
    margin-top: 15px;
}

.splide__slide{
/*    text-align: center;*/
}

.splide__pagination{
    display: none;
}

.ya-eligen{
    color: white;
        color: #a8adaf;

    font-weight: 600;
    font-size: 1.2em;
    text-align: right;
}

/***************** HOME *********************/
.home{
    background: #1E4469;
    background-image: url(../img/bg-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-height: 100vh;
    min-height: 100vh;
}

.home .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.home .container>div{
    width: 50%;
}

.home .home-bloque1{
    align-self: center;
    position: relative;
}


.home .home-bloque2{
    align-self: flex-end;
    justify-self: center;
    justify-content: center;
    display: flex;
}

.home .hero-img{
    max-width: 100%;
    width: 550px;
/*    position: absolute;*/
    bottom: 0;
}

.home h1{
    font-family: "Switzer-Variable";
    font-weight: 600;
    font-size: 6.3em;
    letter-spacing: 0px;
    line-height: 1.2em;
    margin-top: 0px;
    color: #E0F7FA;
    color: #d1faff;
/*    text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);*/
}

.home-texto-1{
    font-size: 2.2em;
    font-weight: 500;
    color: #F6F6F6;
    margin-top: 15px;
    vertical-align: middle;
    max-width: 550px;
    color: white;
}

.tools{
    font-weight: 700;
    font-size: .9em;
    display: block;
    margin: 12px auto;
    letter-spacing: .5px;
}


.home .icon-w {
    max-width: 21px;
    display: inline-block;
    vertical-align: middle;
    margin: -6px 5px 0px 0px;
}

.home .icon-d {
    max-width: 20px;
    display: inline;
    vertical-align: middle;
    margin: -6px 5px 0px 6px;
}

.home .icon-m {
    max-width: 20px;
    display: inline;
    vertical-align: middle;
    margin: -6px 5px 0px 6px;
}

.home .ctas{
    display: flex;
    flex-direction: row;
    gap:13px;
    margin-top: 55px;
}

.home .cta-blanco{
    font-size: 1.7em;
    background: #f6f6f6;
    color: #1E4469;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    min-width:240px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;
}

.cta:after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f061";
    margin-left: 15px;
    font-size: 12px;
    display: inline-block;
    transition: transform 0.3s ease; 
}

.cta-arrow:hover.cta::after{
    transform: translateX(3px);
}

.home .cta-celeste{
    font-size: 1.7em;
    background: #00B2D4;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    min-width:240px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;
}

.cta-after{
    position: absolute;
    max-width: 155px;
    top: -25px;
    right: -30px;
    animation: softBounce 1.8s ease-in-out infinite;
    box-shadow: 0 0 12px rgba(35, 181, 211, 0.35);

}

@keyframes softBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px); /* Movimiento muy leve hacia arriba */
  }
}


/***************** PASO A PASO *********************/

.paso-paso{
    padding: 120px 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/bg-2.png);
}

.paso-paso .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paso-paso h3{
    color: #1E4469;
    font-weight: 600;
    font-size: 5.3em;
    font-style: normal;
    margin: 0 auto 45px auto;
    text-align: center;
}

.paso-paso h3 span{
    display: block;
    color: #0097B2;
}

.paso-paso .contenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:  flex-start;
}

.paso-paso .contenido .paso{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33.3%;
    padding: 0 50px;
}

.paso-paso .contenido .paso:nth-child(2){
    border-right: 1px solid #1e446961;
    border-left: 1px solid #1e446961;
}

.paso-paso .contenido img{
    max-width: 250px;
    height: auto;
    align-self: center;
}

.paso-paso .contenido h4{
    font-size: 2.3em;
    font-weight: 600;
    color: #008DBA ;
    margin-top: 5px;
}

.paso-paso .contenido p{
    color: #505A5F;
    font-size: 1.7em;
    font-weight: 600;
    display: block;
    max-width: 310px;
    margin: 10px auto 0 auto;
    text-align: left;
}

.paso-paso .pensado-para{
    font-family: "Switzer-Variable";
    font-size: 2em;
    font-weight: 600;
    margin: 45px auto 50px auto;
    text-align: center;
    color: #1E4469;
}

.paso-paso .pensado-para span{
    color: #0097B2;
}

.paso-paso .ctas{
    margin: 0 auto;
    display: block;
}

.paso-paso .cta-celeste{
    font-size: 1.7em;
    background: #00B2D4;
    color: white;
    text-transform: uppercase;
    padding: 25px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    min-width:240px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;
}


/***************** CARACTERISTICAS *********************/
.caracteristicas{
    background: #eef0f5;
    padding: 120px 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caracteristicas .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.caracteristicas h3{
    color: #1E4469;
    font-weight: 600;
    font-size: 5.3em;
    font-style: normal;
    margin: 0 auto 45px auto;
    text-align: center;
}

.caracteristicas h3 span{
    display: block;
    color: #0097B2;
}

.caracteristicas .contenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.caracteristicas  .owl-carousel .owl-nav button.owl-prev{
    position: absolute;
    left: -18px;
    top: 50%;
    background-color: var(--base-color) !important;
    display: block ;
    font-size: 3.5em ;
    margin: 0;
    cursor: pointer;
    color: #fff;
    transform: translate(-50%, -50%);
}

.caracteristicas .owl-carousel .owl-nav button.owl-next{
    position: absolute;
    right: -30px;
    top: 50%;
    background-color: var(--base-color) !important;
    display: block ;
    font-size: 3.5em ;
    margin: 0;
    cursor: pointer;
    color: #fff;
    transform: translate(-50%, -50%);
}

.caracteristicas .owl-carousel .owl-nav button.owl-prev span{
    color: rgb(30, 68, 105);
    transition: all 0.1s ease;
}

.caracteristicas .owl-carousel .owl-nav button.owl-next span{
    color: rgb(30, 68, 105);
    transition: all 0.1s ease;
}

.caracteristicas .owl-carousel .owl-nav button.owl-prev span:hover{
    color: #0097B2;
}

.caracteristicas .owl-carousel .owl-nav button.owl-next span:hover{
    color: #0097B2;
}

/************* CAROUSEL ******/
.caracteristicas .owl-dots {
    text-align: center;
    padding-top: 15px;
}

.caracteristicas .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
    border: 1px solid #1e4469!important;
}

.caracteristicas .owl-dots button.owl-dot.active {
    background-color: #0097b2;
}

.caracteristicas .owl-dots button.owl-dot:focus {
    outline: none;
}

.caracteristicas .owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

.caracteristicas .owl-nav button:focus {
    outline: none;
}

.caracteristicas .contenido .owl-carousel .item{
    padding: 20px;
    background: #fff;
    min-height: 300px;
    padding: 20px;
    border-radius: 20px;
}

.caracteristicas .contenido .owl-carousel .item img{
    margin: 15px auto;
    max-width: 50px;
}

.caracteristicas .contenido .owl-carousel .item h4{
    color: #008DBA ;
    font-weight: 600;
    font-size: 2.3em;
    margin: 0 auto 15px auto;
    text-align: center;
    letter-spacing: 0.5px;
}

.caracteristicas .contenido .owl-carousel .item p{
    color: #505A5F;
    font-size: 1.7em;
    font-weight: 600;
    display: block;
    max-width: 350px;
    margin: 0 auto;
    font-family: "Quicksand", sans-serif;
    text-align: center;
}

.caracteristicas .pensado-para{
    font-family: "Switzer-Variable";
    font-size: 2em;
    font-weight: 600;
    margin: 45px auto 50px auto;
    text-align: center;
    color: #1E4469;
}

.caracteristicas .pensado-para span{
    color: #0097B2;
}

.caracteristicas .pensado-para img{
    max-width: 85px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
}

.caracteristicas .ctas{
    margin: 0 auto;
    display: block;
}

.cta-gratis {
    position: absolute;
    width: auto;
    max-width: 100px;
    top: -25px;
    right: -15px;
    animation: softBounce 1.8s ease-in-out infinite;
/*    box-shadow: 0 0 12px rgba(35, 181, 211, 0.55);*/
}

.caracteristicas .cta-celeste{
    font-size: 1.7em;
    background: #00B2D4;
    color: white;
    text-transform: uppercase;
    padding: 25px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    min-width:240px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;
    border: 1px solid #0097B2;

}


/***************** PROBA SORBY *********************/
.proba-sorby{
    padding: 120px 0 180px 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proba-sorby .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.proba-sorby h3{
    color: #1E4469;
    font-weight: 600;
    font-size: 5.3em;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
}

.proba-sorby h3 span{
    color: #0097B2;
}

.proba-sorby p{
    font-size: 3em;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
    color: #1E4469;
}

.proba-sorby p span{
    color: #0097B2;
    font-weight: 700;
}

.proba-sorby img {
    max-width: 320px;
    margin: 35px auto 0 auto;
    display: block;
    margin-bottom: -1px;
    padding-right: 35px;
}

.proba-sorby .ctas{
    display: flex;
    flex-direction: row;
    gap:13px;
    justify-content: center;
}

.proba-sorby .cta-azul{
    font-size: 1.7em;
    background: #f6f6f6;
/*    border: 2px solid #1E4469;*/
    background: #1E4469;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    min-width:240px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;

}

.proba-sorby .cta-celeste{
    font-size: 1.7em;
    background: #00B2D4;
/*    border: 1.5px solid #1E4469;*/
    color: white;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    min-width:240px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;
}

.proba-sorby .cta-vamos{
    position: absolute;
    max-width: 120px;
    top: -15px;
    right: -15px;
    animation: softBounce 1.8s ease-in-out infinite;
    margin: 0;
    padding: 0;
    
}

/************* PREGUNTAS FRECUENTES *************/
.preguntas-frecuentes{
    background: url(../img/bg3.png);
    background-color: #1E4469;
    padding: 120px 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preguntas-frecuentes .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.preguntas-frecuentes h3{
    color: white;
    font-weight: 600;
    font-size: 5.3em;
    margin: 0 auto 35px auto;
    font-style: normal;
    text-align: center;
}

.preguntas-frecuentes h3 span{
/*    color: #0097B2;*/
    display: block;
}

/* Basic styling for the accordions */
.accordion-wrapper {
  max-width: 850px;
    margin: 0 auto 35px auto;
    padding: 40px;
    border-radius: 10px;
    background: white;
}

.accordion-outer {
  border-bottom: 1px solid #1e446969;
  margin-bottom: 5px;
/*  border-radius: 4px;*/
}

.accordion-heading {
    font-family: "Switzer-Variable";
/*    background-color: white;*/
    color: #1E4469;
    padding: 20px 15px;
    cursor: pointer;
    font-size: 2.2em;
    font-weight: 600;
    position: relative;
}

.accordion-heading:after {
  content: "+";
  position: absolute;
  right: 15px;
}

.is-open .accordion-heading{
    color: #0097b2;
}

.accordion-outer.is-open .accordion-heading:after {
  content: "-";
}

.accordion-content {
    font-size: 1.7em;
    font-weight: 600;
    padding: 0 50px 15px 50px;
    color: #505A5F;
  background-color: white;
  display: none; /* Start hidden - will be shown by JS */
}

.accordion-content p{
    color: #505A5F;
}

/* Different color for the second set */
.accordion-wrapper.set2 .accordion-heading {
  background-color: #e0f7fa;
}

/* Hover accordion style */
.accordion-wrapper.on-hover .accordion-heading {
  background-color: #e8f5e9;
}


.preguntas-frecuentes .ctas{
    display: flex;
    flex-direction: row;
    gap:13px;
    justify-content: center;
}

.preguntas-frecuentes .cta-blanco{
    font-size: 1.7em;
    background: #f6f6f6;
    color: #1E4469;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    min-width:240px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;
}

.preguntas-frecuentes .cta-celeste{
    font-size: 1.7em;
    background: #00B2D4;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    min-width:240px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;

}


/************* PLANES *************/
.planes{
    background: #eef0f5;
    padding: 120px 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.planes .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.planes h3{
    color: white;
    font-weight: 600;
    font-size: 5.3em;
    font-style: normal;
    margin: 0 auto 50px auto;
    text-align: center;
    color: #1E4469;
}

.planes h3 span{
    color: #0097B2;
    display: block;
}

.planes-contenedor{
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
}

.plan {
    background: white;
    /* border: 1px solid #1e4469; */
    border-radius: 20px;
    padding: 35px 45px;
    width: 33%;
    align-content: space-between;
    position: relative;
    border: 1px solid #0097b26b;

}

.plan:nth-child(2){
}

.plan h4{
    font-size: 2.2em;
    font-weight: 600;
    text-align: center;
    color: #008DBA;
}

.plan h4::after {
    content: " ";
    background: #00B2D4;
    width: 65px;
    height: 1px;
    display: block;
    margin: 3px auto;
}

.plan:nth-child(1) img {
    max-width: 60px;
    height: auto;
    margin: 0 auto 8px auto;
    text-align: center;
    display:block;
}

.plan:nth-child(2) img {
    max-width: 112px;
    height: auto;
    margin: 0 auto 8px auto;
    text-align: center;
    display:block;
}

.plan:nth-child(3) img {
    max-width: 155px;
    height: auto;
    margin: -20px auto 8px auto;
    text-align: center;
    display:block;
}

.plan .plan-desc {
    text-align: center;
    margin: 15px auto;
    font-size: 1.7em;
    font-weight: 600;
    color: #505A5F;
}

.plan .precio {
    color: #008DBA;
    font-family: "Switzer-Variable";
    font-size: 2.6em;
    font-weight: 600;
    text-align: center;
    padding: 15px 0;
    border-top: 1px solid #0097B2;
    border-bottom: 1px solid #0097B2;
    margin: 30px auto;
}

.plan .precio span{
    color: #008DBA;
    font-size: .8em;
    font-weight: 600;
} 

.plan ul li {
    color: #7b7b7b;
    font-size: 1.6em;
    font-weight: 600;
    margin: 15px auto;
    list-style: none;
    margin-left: 15px;
}

.plan ul li span {
    margin-left: -24px;
    margin-right: 8px;
    margin-top: -2px;
    font-size: .78em;
    vertical-align: middle;
}


.planes .ctas{
    display: flex;
    flex-direction: row;
    gap:13px;
    justify-content: center;
    margin: 35px auto 0 auto;
}

.planes .cta-azul{
    font-size: 1.7em;
    background: #f6f6f6;
/*    border: 2px solid #1E4469;*/
    background: #1E4469;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    min-width:240px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;
}

.planes .cta-celeste{
    font-size: 1.7em;
    background: #00B2D4;
/*    border: 2px solid #1E4469;*/
    color: white;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    min-width:240px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;
}

.cta-celeste-plan{
    font-size: 1.6em;
    background: #00B2D4;
    /* border: 2px solid #1E4469; */
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    max-width: 180px;
    text-align: center;
    letter-spacing: .2px;
    position: relative;
    margin: 45px auto 0 auto;
    display: block;
}

/************ SOBRE NOSOTROS ****************/
.sobre-sorby{
    padding: 120px 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre-sorby .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-sorby h3{
    color: white;
    font-weight: 600;
    font-size: 5.3em;
    font-style: normal;
    margin: 0 auto 15px auto;
    text-align: center;
    color: #1E4469;
}

.sobre-sorby h3 span{
    color: #0097B2;
}

.sobre-sorby p{
    color: #505A5F;
    font-weight: 600;
    font-size: 2.2em;
    margin: 0 auto 15px auto;
    max-width: 1050px;
}

.sobre-sorby .team{
    max-width: 320px;
    margin: 0 auto;
    display: block;
}

.sobre-sorby h4{
    text-align: center;
    font-size: 2.5em;
    margin: 25px auto 25px auto;
    color: #0097B2;
    font-weight: 600;
}


.sobre-sorby .ctas{
    display: flex;
    flex-direction: row;
    gap:13px;
    justify-content: center;
}

.sobre-sorby .cta-azul{
    font-size: 1.7em;
    background: #f6f6f6;
/*    border: 2px solid #1E4469;*/
    background: #1E4469;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    min-width:240px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;

}

.sobre-sorby .cta-celeste{
    font-size: 1.7em;
    background: #00B2D4;
/*    border: 1.5px solid #1E4469;*/
    color: white;
    text-transform: uppercase;
    padding: 20px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    min-width:320px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;
}

/************ CONTACTO ****************/
.contacto{
    background: url(../img/bg3.png);
    background-color: #1E4469;
    padding: 120px 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}

.contacto .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto h3{
    color: white;
    font-weight: 600;
    font-size: 5.3em;
    margin: 0 auto 35px auto;
    font-style: normal;
    text-align: center;
}

.contacto h3 span{
/*    color: #0097B2;*/
    display: block;
    font-size: .8em;
    font-weight: 400;
}

.contacto .ctas{
    margin: 55px auto;
    display: block;
    text-align: center;
}

.contacto .cta-celeste{
    font-size: 1.7em;
    background: #00B2D4;
    color: white;
    text-transform: uppercase;
    padding: 25px;
    border-radius: 10px;
    font-family: "Switzer-Variable";
    font-weight: 600;
    text-decoration: none;
    max-width:320px;
    text-align:center;
    letter-spacing: .2px;
    position: relative;
    display: block;
    margin: 0 auto;
}

.seguinos-redes h4{
    text-align: center;
    color: white;
    font-family: "Switzer-Variable";
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 600;
}

.seguinos-redes .redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seguinos-redes .redes a{
    font-size: 20px;
    margin: 15px 10px;
    background: #00B2D4;
    padding: 3px 10px;
    border-radius: 100%;
}

.seguinos-redes .redes a:hover{
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 12px rgba(35, 181, 211, 0.36);
    transition: all 0.2s ease; 
}

.seguinos-redes .redes a i{
    color: white;
}


/************ FOOTER ****************/
footer{
    background: #1E4469;
    background: #112d49;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
}

footer .container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 40px 0;
    align-items: center;
    color: white;
}

footer img{
    max-width: 120px;
}

footer .copy p{
    font-size: 1.3em;
    font-weight: 600;
    color: white;
}

footer .info-f h3{
    font-size: 1.4em;
    font-weight: 500;
}

footer .info-f h3 i{
    margin-right: 5px;
}

footer .info-f p{
    color: white;
    font-size: 1.3em;
    margin-top: 5px;
}


@media (max-width: 1600px) {
    html, body{
        font-size: 8.5px;
    }
    
    header nav img{
        max-width: 160px;
    }
    
    header.scrolled nav{
        padding: 15px 0;
    }
    
    header.scrolled nav img{
        max-width: 115px;
    }
    
    .container{
        width: 75%;
    }
    
    .home .hero-img{
        width: 380px;
    }
    
    .paso-paso .contenido img{
        max-width: 200px;
    }

    .paso-paso .contenido .paso{
        padding: 0 40px;
    }    
    
    .proba-sorby img{
        max-width: 260px;
    }
    
    .sobre-sorby .team{
        max-width: 260px;
    }
    
    .home h1{
        margin-top: 90px;
        font-size: 5.2em;
    }
    
    .ya-eligen{
        font-size: 1.3em;
    }
    
    .caracteristicas .contenido .owl-carousel .item img{
        margin: 15px auto;
        max-width: 35px;
    }

}

@media (max-width: 1440px) {
    .container{
        width: 75%;
    }
    
    html,body{
        font-size: 8.5px;
    }
    
    .cta-after {
        max-width: 145px;
    }

    .paso-paso h3, .caracteristicas h3, .proba-sorby h3, .preguntas-frecuentes h3, .planes h3, .sobre-sorby h3, .contacto h3{
        font-size: 4.8em;
    }
    
    .paso-paso .contenido img{
        max-width: 170px;
    }
    
    .caracteristicas .contenido .owl-carousel .item{
        min-height: 255px;
    }
    
    .accordion-content p{
        font-size: 1.1em;
    }
    
    .sobre-sorby .contenido p{
        max-width: 850px;
    }
    
}

@media (max-width: 1300px) {
    .container{
/*        width: 90%;*/
    } 

}

@media (max-width: 1080px) {

    
    .container{
        width: 95%;
    } 
    
    .contacto h3 span{
        font-size: .6em;
    }
    
    
    .paso-paso{
        padding-bottom: 0;
    }
    
    
    .icono-desktop{
        display: none;
    }
    
    .icono-mobile{
        display: inline-block;
    }
    
    .texto-mobile{
        display: block;
    }
    
    .texto-desktop{
        display: none;
    }
    
    .texto-mobile-span{
        display: inline-block;
    }
/*************** YA CONFIAN LOGOS ***********/
    .ya-confian{
        max-width: 100%;;
        padding: 60px 0;
    }
    
    .splide{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .ya-eligen{
        color: white;
        color: #a8adaf;
        font-weight: 600;
        font-size: 2.3em;
        margin-bottom: 5px;
        text-align: center;
        
    }
    
    .ya-confian img{
        max-width: 75px;
        text-align: center;
        opacity: 0.9;
    }


    .splide__slide{
    /*    text-align: center;*/
    }

    .splide__pagination{
        display: none;
    }


}

@media (max-width: 1024px) {
    html,body{
        font-size: 9px;
    }
    
    .container{
        width: 95%;
    } 
    
    header nav ul{
        gap:15px;
    }
    
    header nav ul li a{
        font-size: 1.3em;
    }
    
    .cta-after{
        display: none;
    }
    
    .home .cta-celeste{
        min-width: 255px;
    }
    
    .planes-contenedor{
        flex-direction: column;
    }
    
    .plan{
        width: 100%;
    }

    .planes .ctas{
        flex-direction: column-reverse;
        font-size: 1.1em;
    }

    .plan:nth-child(3) img{
        margin: 0px auto 8px auto;;
    }
    
    .contacto h3 span{
        font-size: .6em;
    }
    
    footer .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap:25px;
    }
    
    footer .copy{
        font-size: 1.3em;
    }
}


@media (max-width: 768px) {
    .img-desktop{
         display: none;
    }
    
    .img-mobile{
         display: block;
    }
    
    .container{
        width: 90%;
    }
    
    
    /******************** HEADER ******************/
    header{
        background: white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    }
    
    header nav {
        flex-wrap: wrap; /* Permite que los elementos se envuelvan */
        justify-content: space-between; /* Alinea logo a izq, botón a der */
        padding: 10px 0; /* Puedes ajustar el padding del nav en móvil */
    }

    header nav img {
        max-width: 120px; /* Ajusta el tamaño del logo en móvil */
    }

    .menu-toggle {
        display: block; /* Muestra el botón de hamburguesa en móvil */
    }

header nav ul {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
    flex-direction: column;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 0;
    border-bottom: 1px solid transparent;
}

header nav ul.active {
    border-bottom: 1px solid #1e4469;
}

header nav ul li {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #1e446982;
}

header nav ul li:nth-of-type(1) {
        border-top: 1px solid #1e446982;

}

    header nav ul li a {
        font-size: 1.7em;
        height: 100%;
        color:#1e4469;
        display: block;
        
    }
    
    /******************** HOME ******************/
    .home{
        min-height: 100vh;
        max-height: inherit;
        padding: 65px 0 80px 0;
    }
    
    .home .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .home .container>div{
        width: 100%;
    }
        
    .home h1{
        font-size: 4.3em;
        text-align: center;
        color: #E0F7FA;
/*        margin-top: 80px;*/
        margin-top: 0;
    }
    
    .home p{
        font-size: 1.8em;
    }
    
    .tools{
        line-height: 1.8em;
        font-size: .8em;
    }
    
    .home .hero-img-mobile{
        max-width: 210px;
        display: block;
        margin: 5px auto 0 auto;
    }
    
    .home .ctas{
        flex-direction: column-reverse;
        margin: 0 auto;
        font-size: 1.1em;
    }
    
    .cta-after{
        right: inherit;
        right: 0;
        top: -30px;
        max-width: 150px;
    }
    /******************** PASO A PASO ******************/
    .paso-paso{
        padding: 80px 0 0 0;
    }
    
    .paso-paso h3{
        font-size: 4.2em;
        margin-bottom: 25px;
    }
    
    .paso-paso .contenido{
        flex-direction: column;
    }
    
    .paso-paso .contenido p{
        font-size: 1.8em;
    }
    
    .paso-paso .contenido .paso{
        width: 100%;
        padding: 30px;
    }
    
    .paso-paso .contenido .paso:nth-child(1){
        padding-top: 0;
    }
    
    .paso-paso .contenido .paso:nth-child(2) {
        border-right: none;
        border-left: none;
        border-top: 1px solid #1e446961;
        border-bottom: 1px solid #1e446961;
    }
    
    .paso-paso .contenido .paso h4{
        text-align: center;
        font-size: 2.4em;
        margin-top: 10px;
    }
    
    .paso-paso .contenido .paso p{
        text-align: center;
    }
    
    .paso-paso .contenido img{
        max-width: 250px;
    }
    
    .paso-paso .pensado-para{
        margin-top: 10px;
    }
    
    .paso-paso .ctas{
        font-size: 1.1em;
    }
    
    /******************** CARACTERISTICAS ******************/
    .caracteristicas{
        padding: 80px 0 100px 0;
    }
    
    .caracteristicas h3{
        font-size: 4.2em;
        margin-bottom: 25px;
    }
    
    .caracteristicas h3 span{
        display: inline-block;
    }
    
    .caracteristicas .pensado-para{
        margin-top: 45px;
    }
    
    .caracteristicas .ctas{
        font-size: 1.1em;
    }
    
    .caracteristicas .owl-carousel .owl-nav button.owl-next{
        right: -25px;
        font-size: 5em;
    }
    
    .caracteristicas .owl-carousel .owl-nav button.owl-prev{
        left: -9px;
        font-size: 5em;
    }
    
    .caracteristicas .pensado-para img{
        margin-left: 5px;
    }
    
    .caracteristicas .contenido .owl-carousel .item{
        min-height: 285px;
    }
    
    .caracteristicas .contenido .owl-carousel .item img{
        margin: 15px auto;
        max-width: 50px;
    }
    /******************** PASO A PASO ******************/
    .proba-sorby{
        padding: 80px 0 100px 0;
    }
    
    .proba-sorby h3{
        font-size: 4.2em;
        margin-bottom: 25px;
    }
       
    .proba-sorby p{
        font-size: 2.2em;
    }
    
    .proba-sorby img{
        max-width: 250px;
    }
    
    .proba-sorby .ctas{
        flex-direction: column-reverse;
        font-size: 1.1em;
    }
    
    /******************** PASO A PASO ******************/
    .preguntas-frecuentes{
        padding: 80px 0 100px 0;
    }
    
    .preguntas-frecuentes h3{
        font-size: 4.2em;
        margin-bottom: 25px;
    }
    
    .accordion-wrapper{
        padding: 15px;
    }
    
    .accordion-content {
        padding: 0px 20px 15px 20px;
    }
    
    .accordion-heading{
        font-size: 2em;
    }
    
    .preguntas-frecuentes .ctas{
        flex-direction: column-reverse;
        font-size: 1.1em;
    }
    
    /******************** PLANES ******************/
    .planes{
        padding: 80px 0 100px 0;
    }
    
    .planes h3{
        font-size: 4.2em;
        margin-bottom: 25px;
    }
    
    .plan h4{
        font-size: 2.3em;
    }
    
    .plan .plan-desc{
        font-size: 1.8em;
    }
    
    .planes-contenedor{
        flex-direction: column;
    }
    
    .plan{
        width: 100%;
    }

    .planes .ctas{
        flex-direction: column-reverse;
    }
    
    .plan:nth-child(3) img{
        margin: 0px auto 8px auto;;
    }

    .cta-celeste-plan {
        max-width: 240px;
        font-size: 1.7em;
    }
    
    .plan ul li{
        font-size: 1.7em;
    }
    
    /******************** PASO A PASO ******************/
    .sobre-sorby{
        padding: 80px 0 100px 0;
    }
    
    .sobre-sorby h3{
        font-size: 4.2em;
        margin-bottom: 25px;
    }
    
    .sobre-sorby p{
        font-size: 1.8em;
    }
    
    .sobre-sorby .team{
        max-width: 280px;
    }
    
    .sobre-sorby .ctas{
        flex-direction: column;
        font-size: 1.1em;
    }
    
    /******************** PASO A PASO ******************/
    .contacto{
        padding: 80px 0 100px 0;
    }
    
    .contacto h3{
        font-size: 4.2em;
        margin-bottom: 25px;
    }
    
    
    .contacto p{
        font-size: 1.8em;
    }

    
    .sobre-sorby .ctas{
        flex-direction: column;
        font-size: 1.1em;
    }
}

@media (max-width: 380px) {
    .home {
        padding: 65px 0 80px 0;
    }
    
    .cta-celeste, .cta-blanco, .cta-azul{
        padding: 16px!important;
    }
    
    .home h1{
        font-size: 3.9em;
    }
    
    .plan{
        padding: 35px 20px;
    }
    
    .gmail{
        display: block;
    }
    
    .home .icon-m {
        margin: -6px 5px 0px 0px;
    }
    
    .contacto h3 span{
        font-size: .6em;
    }
    
    .sobre-sorby .cta-celeste{
        min-width: auto;
    }
    
    .ctas{
        font-size: .9em!important;
    }
}


@media (max-width: 335px) {
    .home .hero-img-mobile {
        max-width: 175px;
    }
    
    .paso-paso h3, .caracteristicas h3, .proba-sorby h3, .preguntas-frecuentes h3, .planes h3, .sobre-sorby h3, .contacto h3{
        font-size: 4em;
    } 
    
    
    .paso-paso h3, .caracteristicas h3, .proba-sorby h3, .preguntas-frecuentes h3, .planes h3, .sobre-sorby h3, .contacto h3{
        font-size: 3.5em;
    }
    
    .paso-paso .contenido img{
        max-width: 200px;
    }
}