@font-face {
    font-family: 'MiFuente';
    src: url('/assets/fonts/mifuente.woff2') format('woff2'), url('/assets/fonts/mifuente.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
